<apex:page controller="filePickr">
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
            
  
  
  <script>
      function anyThing(){
        filepicker.setKey("ADMJGLeEVQ5GvI6gbZ5T5z");
            
            filepicker.pick(
                function(Blob){
                    console.log(Blob.url);
                    
                    filePickr.getAccount( Blob.url, function(result, event)
                    {
                        if (event.status)
                        {
                            console.log(result)
                            document.getElementById("out").innerHTML = result;           
                        }
                    }, {escape:true});
                    
                    
                    
                }
        );
      
      }
  </script>
  
  
  <div id="out"> </div>
  <input type="submit" onClick="anyThing();" />
  
</apex:page>