<apex:page controller="JavascriptRemoting" showHeader="false">

    <script>
        function callMe(c){
                   
                   
            //ClassName.methodName(c,arguments, callbackFunction)       
            JavascriptRemoting.plzcallme(c,function(result, event){
            if (event.status){
                console.log(result); 
                
                
                document.getElementById('out').innerHTML = result.Name;
                    
            }
            }, {escape:true});
            
        }
    
    </script>


    <div id="out"></div>
    <input type="submit" value="open" onClick="callMe('Teja');" />

</apex:page>