<apex:page controller="SSEPage11th">
    
    <apex:form >
    
        <apex:commandButton value="Fetch Records" action="{!fetchRecords}" reRender="teja"/>
    </apex:form>
    
    
    <apex:outputPanel id="teja">
         <apex:pageBlock >
            <apex:pageBlockTable value="{!a}" var="aa">
                <apex:column value="{!aa.id}"/>
                <apex:column value="{!aa.name}"/>
            </apex:pageBlockTable>
        
        </apex:pageBlock>
    
    
    </apex:outputPanel>
    
    
   
    
    
</apex:page>