<apex:page controller="YoutubeIntegration" showHeader="false">

  <style type="text/css">
    #container{
      position: relative;
      width: 600px;
      background-color: #fff;
      margin: 0 auto;
      padding: 24px;
    }  
  </style>

  <div id="container">
    <apex:form >
        <apex:inputText value="{!search}"/>
        
        <apex:commandButton action="{!search}" value="Search"/>
    </apex:form>
    
    <table> 
      <apex:repeat value="{!dataSetOne}" var="dis" >
           <tr>
              <td><iframe width="150" height="100" src="https://www.youtube.com/embed/{!dis.f3}" frameborder="0" allowfullscreen="allowfullscreen"></iframe></td>
              <!-- <td><a href="https://www.youtube.com/watch?v={!dis.f3}" alt="{!dis.f3}" target="_blank"><img src="{!dis.f4}" style="height: 100px;width: 150px;" /></a></td> -->
              <td>{!dis.f1}</td>
              <td style="color: grey">{!dis.f2}</td>
              
          </tr>

      </apex:repeat> 
    </table>
  </div>  
</apex:page>